---
layout: default
---
<section class="my-3" id="register">
  <table class="table table-reponsive table-dark" id="registerTable">
    <thead>
      <tr>
        <th>Name</th>
        <th class="text-center">Status</th>
        <th>Change Status</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for person in site.data.people %}
      <tr>
        <td>{{ person.name }}</td>
        <td class="text-center">
          <span class="badge badge-pill badge-{% if person.status == "Absent" %}danger{% else %}success{% endif %}">
            <i class="fa fa-{% if person.status == "Absent" %}times-circle{% else %}check-circle{% endif %}"></i> {{ person.status }} <br /><i class="fa fa-clock-o"></i> <abbr class="timeago" title="{{ person.time | date_to_xmlschema }}">{{ person.time | date: "%H:%M"}}</time>
          </span>
        </td>
        {% if person.status == "Absent" %}        
        <td><button type="button" class="btn btn-primary w-100"><i class="fa fa-sign-in"></i> Sign In</button></td>
        {% else %}
        <td><button type="button" class="btn btn-warning w-100"><i class="fa fa-sign-out"></i>Sign Out</button></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
