---
layout: default
---
<section class="my-3" id="register">
  <table class="table table-reponsive table-dark" id="registerTable">
    <thead>
      <tr>
        <th>Name</th>
        <th class="text-center">Status</th>
        <th>Edit User</th>
      </tr>
    </thead>
    <tbody>
      {% for person in site.data.people %}
      <tr>
        <td>{{ person.name }}</td>
        <td class="text-center">
          <span class="badge badge-pill badge-{% if person.status == "Absent" %}danger{% else %}success{% endif %}">
            <i class="fa fa-{% if person.status == "Absent" %}times-circle{% else %}check-circle{% endif %}"></i> {{ person.status }} <br /><i class="fa fa-clock-o"></i> <abbr class="timeago" title="{{ person.time | date_to_xmlschema }}">{{ person.time | date: "%H:%M"}}</time>
          </span>
        </td>
        <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i> Edit</button>
          <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Remove</button>
        </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
